
.container{
    display: flex;
      /*flex-direction: row;*/
    /*flex-direction: column;*/
    flex-direction: column-reverse;
}

.content{
    border: 1px solid black;
    margin: 5px 20px;
    padding: 0px 5px;
}