
.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/

}
.container{
    display: flex;
      /*flex-direction: row;*/
    /*flex-direction: column;*/
    flex-direction: row-reverse;
}
.container-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content{
    border: 1px solid black;
    margin: 5px 15px;
    width: 30%;
    padding: 0px 5px;
}